/* 
font-family: 'Poppins', sans-serif; (small font)
font-family: 'Rowdies', cursive; (big font)
font-family: 'Roboto Condensed', sans-serif; (talking font)
font-family: 'Coda Caption', sans-serif; (header font)

*/


/*navbar*/

.nav-link , .navbar-brand {
    color : white;
}

.nav-link:hover , .navbar-brand:hover{
    color : lime;
}

.green{
    color : lime;
}

.navbar-brand{
    margin-left: 7%;
    font-family: 'Rowdies', cursive;
}


.navbar-nav {
    padding-right : 5rem;
    font-family: 'Poppins', sans-serif;
}

.navbar-toggler{
    background-color :white;
}

/* Introduction */

#intro {
    margin-top : 40px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

#intro hr {
    border-style : dotted none none none;
    border-width: 4px;
    width : 20%;
    margin-top: 80px;
    margin-bottom : 80px;
    margin-left: 40%;
}

/* process */

#process i{
    margin-bottom: 30px;
    margin-top : 15px;
}

#process div{
    margin-bottom: 40px;
}

#process i:hover {
    color : lime;
}

#process h1{
    text-align: center;
    margin-bottom : 30px;
    font-family: 'Coda Caption', sans-serif;
    font-weight : 600;
}

/* Description */

#description {
    padding-top: 20px;
    background-color: rgb(81, 81, 81);
    color : white;
}

#description h1{
    text-align: center;
    margin-bottom : 50px;
    font-family: 'Coda Caption', sans-serif;
    font-weight : 600;
}

#description .col-lg-6{
    margin-bottom: 30px;
}

#description h4{
    font-family: 'Roboto Condensed', sans-serif;
}

#description i{
    margin-bottom : 15px;
}

/* Content (used for the other documents) */
